<section class="awSlider">
    <div  class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target=".carousel" data-slide-to="0" class="active"></li>
            <li data-target=".carousel" data-slide-to="1"></li>
            <li data-target=".carousel" data-slide-to="2"></li>
            <li data-target=".carousel" data-slide-to="3"></li>
            <li data-target=".carousel" data-slide-to="4"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="https://img1.wsimg.com/isteam/ip/eb47a0b2-83f1-42e4-847d-a4c5f26de9ff/f171ed71-7f1e-42f8-94a9-3263ce1b33ed.png/:/rs=w:600,h:750,cg:true,m/cr=w:1200,h:750,a:cc">
            </div>
            <div class="item">
                <img src="https://img1.wsimg.com/isteam/ip/eb47a0b2-83f1-42e4-847d-a4c5f26de9ff/38b9ef10-0ba5-4a22-9e19-ab583bbf5554.png/:/rs=w:600,h:750,cg:true,m/cr=w:1200,h:750,a:cc">
            </div>
            <div class="item">
                <img src="https://img1.wsimg.com/isteam/ip/eb47a0b2-83f1-42e4-847d-a4c5f26de9ff/a8005b81-753c-4261-ace1-05880b9d5134.png/:/rs=w:600,h:750,cg:true,m/cr=w:1200,h:750,a:cc">
            </div>
            <div class="item">
                <img src="https://img1.wsimg.com/isteam/ip/eb47a0b2-83f1-42e4-847d-a4c5f26de9ff/6f053276-10ba-451e-b3c2-d60976ac3dc2.png/:/rs=w:600,h:750,cg:true,m/cr=w:1200,h:750,a:cc">
            </div>
            <div class="item">
                <img src="https://img1.wsimg.com/isteam/ip/eb47a0b2-83f1-42e4-847d-a4c5f26de9ff/eb8b94ad-18b5-4614-81f6-ae99a6a532b6.png/:/rs=w:600,h:750,cg:true,m/cr=w:1200,h:750,a:cc">
                <!-- <div class="carousel-caption">#4</div> -->
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href=".carousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Geri</span>
        </a>
        <a class="right carousel-control" href=".carousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">İleri</span>
        </a>
    </div>
</section>
<script src="{{ '/assets/carousel/carousel.js?v=' | relative_url }}"></script>
<link rel="stylesheet" href="{{ '/assets/carousel/carousel.css?v=' | relative_url }}" />