<!-- Nav -->
<div class="nav"">
    <div class="container">
        <div>
            <img id="logo" src="https://img1.wsimg.com/isteam/ip/eb47a0b2-83f1-42e4-847d-a4c5f26de9ff/logo/f479e850-eca8-4b89-804d-ad37aa102af3.png/:/rs=h:125"/>
        </div>
        <div class="right">
            <ul>
                <li><a {% if page.url == site.urls.homepage %} class="actived" {% endif %} href="{{ site.urls.homepage }}">主页</a></li>
                <li><a {% if page.url == site.urls.privacy %} class="actived" {% endif %} href="{{ site.urls.privacy }}">PRIVACY POLICY</a></li>
                <li><a {% if page.url == site.urls.terms %} class="actived" {% endif %} href="{{ site.urls.terms }}">TERMS OF USE</a></li>
            </ul>
        </div>
    </div>
</div>