<html>
    <head>
        <title>video editor | video editor</title>
        <meta charset="UTF-8">
        <!-- External  -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />

        <!-- Main -->
        <script src="{{ '/assets/js/main.js?v=' | relative_url }}"></script>
        <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | relative_url }}" />
    </head>
    <body>
        {% include header.html %}

        <!-- Headline -->

        {% if page.headline %}
        <div class="headline green_color">
            <h1>{{ page.headline }}</h1>
        </div>
        {% endif %}

        <!-- Main -->
        <div class="main width66">
            {{ content }}
            
            {% include footer.html %}
        </div>
    </body>
</html>